.flash-sales {
    text-align: center;
    padding: 1px;
    margin-bottom: 150px;
  }
  
  .header h2 {
    color: red;
  }
  
  .header h1 {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }
  
  .timer {
 
    justify-content: center;
    margin-bottom: 200px;
  }
  
  .timer div {
    margin: 0 10px;
  }
  
  .timer span {
    font-size: 2rem;
    display: block;
  }
  
  .products {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .product {
    position: relative;
    width: 200px;
    text-align: left;
  }
  
  .product img {
    width: 250px;
    height: 200px;
  }
  
  .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .product h3 {
    font-size: 1.2rem;
  }
  
  .product p {
    margin: 5px 0;
  }
  
  .product button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .view-all {
    margin-top: 35px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .category-heading {
    display: inline-flex;
    align-items: center;
  }
  
  .category-heading img {
    width: 15px; /* Adjust as needed */
    height: auto;
    margin-right: 5px; /* Adjust spacing between the image and the heading */
    border-radius: 5px;
  }
  
  .category-heading h2 {
    font-size: 20px; /* Adjust as needed */
    margin: 0;
  }