.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    background-color: #ffffff;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #929c97;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav .ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.nav .ul .li {
    margin: 0 20px;
}

.nav .ul .li .a {
    position: relative; 
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease; 
}

.nav .ul .li .a:after {
    content: ''; 
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

.nav .ul .li .a:hover {
    color: #000000; 
}

.nav .ul .li .a:hover:after {
    background-color: #6f696a; 
}

.side {
    position: absolute;
    top: 80px;
    left: 0;
    width: 200px;
    display: none;
    background-color: transparent;
    border-right: 1px solid #7f7c7c;
    
}

.side .sideul {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side .sideul .sideli {
    margin: 10px 0;
}

.toggle-btn {
    background-color: transparent; 
    border: none; 
    font-size: 24px; 
    cursor: pointer; 
    padding: 10px; 
    color: #000;
    margin-left: auto; 
}

.toggle-btn:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

.main-content {
    width: 90%;
    margin: 20px auto;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.custom-carousel {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
  }
  
  .custom-carousel .carousel-item {
    height: 400px;
  }
  
  .custom-carousel .carousel-item img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
  }
 

  .custom-carousel {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;
}

.custom-carousel .carousel-item {
  height: 350px; 
  margin-left: 80px;
}

.custom-carousel .video-container {
   
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
  }

  .custom-carousel .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .search-container {
    display: flex;
    align-items: center;
    max-width: 150px;
    max-height: 30px;
    margin: 1px 0;
  }
  
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    color: #000;
    border: 1px solid #929c97;
    border-radius: 4px 0 0 4px; 
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin: 2; 
    max-width: 150px;
    max-height: 30px;
  }
  
  
  .search-icon {
    background-color: #fff; 
    border: 1px solid #929c97;
    border-left: none; 
    border-radius: 0 4px 4px 0;
    padding: 10px;
    cursor: pointer;
    color: #929c97;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .search-icon:hover {
    color: #6f696a;
  }
 